@import "utils/libs.scss";
@import "utils/vars.scss";

body {
    height: 5000px;
    font-family: "Lato", sans-serif;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
li {
    list-style: none;
}



@import "../scss/blocks/header.scss";
@import "../scss/blocks/hero.scss";
@import "../scss/blocks/about-product.scss";

@import "../scss/utils/media.scss";
