@import "utils/libs.scss";
@import "utils/vars.scss";



body{
    height: 5000px;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
li{
    list-style: none;
}


@import "../scss/blocks/header.scss";
@import "../scss/blocks/hero.scss";