@import "utils/libs.scss";
@import "utils/vars.scss";
@import "utils/fonts.scss";
body {
    font-size: 18px;
    font-family: 'Lato';
    color: #303952;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
li {
    list-style: none;
}
@import "../scss/blocks/header.scss";
@import "../scss/blocks/hero.scss";
@import "../scss/blocks/about-product.scss";
@import "../scss/blocks/testimonials.scss";
@import "../scss/blocks/about-us.scss";
@import "../scss/blocks/form.scss";
@import "../scss/blocks/footer.scss";
@import "../scss/utils/media.scss";
