.about-product {
    padding-top: 100px;
    h2 {
        text-align: center;
        color: $primaryColor;
        font-size: 44px;
        font-weight: bold;
    }
    h4{
        font-size: 36px;
        color: $primaryColor;
        font-weight: bold;
    }
}
.mudan{
    background-image: url(../img/tea2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    padding: 250px 0;
    .container{
        position: relative;
        z-index: 3;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
    }
}
.blue-bg{
    background-color: $primaryColor;
    padding: 50px 0;
    color: #fff;
}

.useful-item {
    padding: 40px;
    border-left: 1px solid #d9e8f4;
    border-bottom: 1px solid #d9e8f4;
    margin: -1px;
    span {
        display: block;
        font-size: 24px;
        font-weight: 400;
        color: $primaryColor;
    }
    p {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
}

.padding-100 {
    padding: 100px 0;
}
.section-title h3 {
    color: #303952;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}
.space-25 {
    height: 25px;
}
.section-title p {
    font-size: 18px;
    font-weight: 600;
    max-width: 750px;
    margin: 0 auto;
}

.main-features .features-circle {
    position: relative;
}
.features-circle .circle-svg {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    margin: 0 auto;
}
.features-circle svg g {
    transform-origin: 50%;
}
.features-circle svg circle {
    stroke: #00cdcd;
}
