.hero {
	display: flex;
	align-items: center;
	padding: 100px 100px 0px;
	position: relative;
	min-height: 100vh;
}
.circle {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $primaryColor;
	clip-path: circle(800px at right 1000px);
}
.hero-img {
	width: 100%;
}
h1{
	font-size: 72px;
	color: $primaryColor;
	font-weight: 900;
	line-height: 1;
}
h3{
	font-size: 48px;
	font-weight: 700;
	font-style: italic;
	font-weight: 400;
}
h6{
	font-size: 24px;
	font-style: italic;
	span{
		color: $primaryColor;
		font-weight: bold;
	}
}
.order-btn{
	padding: 15px 45px;
	background-color: $primaryColor;
	color: #fff;
	display: flex;
	border-radius: 50px;
	display: inline-block;
	font-weight: 700;
	transition: all .3s;
	&:hover{
		color: #fff;
		box-shadow: 0px 0px 10px 0px #56a3cf;
	}
}

.social-icons{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	li{
		padding: 20px 0;
	}
	a{
		width: 25px;
		height: 25px;
		display: block;
		svg{
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}
}



